<html>
<head>
<title> Sample page </title>
</head>
<body>
<h1> This is my first website , this will use data from slice of struct</h1>
<div style="background-color: lightgray ;">
<table border="1">
    <tr>
        Date Only Time is {{dateOnly .}}
        Kitchen time is {{kitchen .}}
    </tr>   
</table>
</div>
</body>
</html>