<html>
<head>
<title> Sample page </title>
</head>
<body>
<h1> This is my first website , this will use data from slice of struct</h1>
{{ range $group := .People }}
<div style="background-color: {{$group.Color}} ;">
<table border="1">
    <tr>
        <th>{{$group.Fname}} is of {{$group.Lname}} is of {{$group.Age}} years</th>
    </tr>   
</table>
</div>
{{ end }}
</body>
</html>