<html>
<head>
<title> Sample page </title>
</head>
<body>
<div style="background-color: lightgreen ;">
<h1> This is my first website , this will use data from struct</h1>
</div>
<div style="background-color: {{.Color}} ;">
<ul>
    <li>{{.Fname}} - {{.Lname}} is {{.Age}} years old </li>
</ul>
</div>
</body>
</html>