<!DOCTYPE html>
<html>
<head>This is the head
    <title>This is title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <style>
        body {
            background-color: rgb(224, 230, 173);
        }
    </style>
</head>


<body>

    <ol>
        <li>Ordered list item 1</li>
        <li>Ordered list item 2</li>
        <li>Ordered list item 3</li>
    </ol>

<form>
    <input type="text" placeholder="Enter name">
    <input type="email">
    <input type="password">
    <button>Submit</button>
</form>


<div style="background-color: lightblue;">
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>John</td>
        <td>25</td>
    </tr>
</table>
</div>

</body>
</html>